body {
    background-image: url(Img/4735965.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.navbar-brand{
    margin-left: 1rem;
}

.Texto1{
    font-family: 'VT323', monospace;
    font-size: 3rem;
    text-align: center;
    color: aqua;
}

.nosotrosH{
    height: 800px;
}

h1{
    font-size: 8rem;
}